<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" " http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置mapper标签,namespace属性，作用：唯一的 标识一个Mapper配置文件，保护文件中的标签ID不被污染。注意值不能重复-->
<mapper namespace="userMapper">

    <!--配置SQL资源：
     查询:select标签
        属性：
         id:唯一标识一个SQL语句参数
         resultType:声明使用哪个实体类存储查询的结果。一条结果一个实体类对象存储。
         parameterType:声明实参类型。
     增加:insert标签
     修改:update标签
     删除:delete标签
     注意：
        同一个文件内的标签ID不能重复。
    -->
    <!--  查询操作  -->
    <select id="findAllForMybatis" resultType="user">
        select * from sys_user
    </select>

    <!--  插入操作  -->
    <insert id="insertForMybatis" parameterType="com.shubao.domain.User">
        <!--    #{实体属性名}：里面传入的是实体对象的属性名    -->
        insert into sys_user values(#{id}, #{username}, #{email}, #{password}, #{phoneNum})
    </insert>

    <!--  修改操作  -->
    <update id="updateForMybatis" parameterType="com.shubao.domain.User">
        update sys_user set email = #{email} where username = #{username}
    </update>

    <!--  删除操作  -->
    <delete id="deleteForMybatis" parameterType="java.lang.Integer">
        delete from sys_user where id = #{id}
    </delete>

    <!--  根据id查询  -->
    <select id="findOneForMybatis" resultType="user" parameterType="int">
        select * from sys_user where id = #{id}
    </select>


</mapper>